/*Start of Presets*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    line-height: 1.5;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clr-fix {
    clear: both;
}

.rounded {
    border-radius: 15px;
}

.centered-text {
    text-align: center;
}

button,
span,
a {
    display: inline-block;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-white {
    background-color: white;
}

button:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/*End of Presets*/

/*Start of Container Styling*/

.container {
    width: 70%;
    margin: 80px auto;


}

/*Start of Hero Section*/

.hero-header {
    width: 50%;
    margin-bottom: 150px;
    margin-left: 20px;
}

.hero-header h1 {
    font-size: 67px;
    margin-bottom: 30px;
}

.hero-header p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: light;
}

.hero-header button {
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
}

.hero-image {
    width: 30%;
    padding: 20px;
    margin-right: 100px;
}

/*End of Hero Section*/

/*Start of Why Choose Us Styling*/
.WhyChooseUS h2,
.WhyChooseUS .WhyChooseUS-paragraph {
    text-align: center;
}

.WhyChooseUS h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.WhyChooseUS .WhyChooseUS-paragraph {
    font-size: 20px;
}

.cards {
    margin-top: 50px;
    margin-bottom: 50px;
}

.premium,
.expert,
.flexible {
    float: left;
    width: 30%;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: light;
    text-align: center;

}

.premium {
    background-color: oklch(93.2% .032 255.585);
}

.expert {
    background-color: oklch(95% .052 163.051);
}

.flexible {
    background-color: oklch(94.6% .033 307.174);
}

h3 {
    margin: 10px 0px;
}

.blue-square,
.green-square,
.violet-square {
    background-color: white;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 25px;
}

.blue-square {
    border: 15px solid rgb(0 87 250 / 90%);
}

.green-square {
    border: 15px solid rgba(26, 131, 75, 0.9);
}

.violet-square {
    border: 15px solid rgba(141, 29, 216, 0.9);
}

.undercard {
    margin-top: 50px;
}

.undercard .undercard-img {
    width: 46%;
}

.undercard .undercard-img img {
    width: 90%;
    border-radius: 15px;
    margin-left: 15px;
}

.WhyChooseUS .undercard .undercard-description {
    margin-left: 20px;
    margin-top: -10px;
}

.undercard .undercard-description h3 {
    font-size: 30px;
}

.undercard .undercard-description .brief {
    border-left: 4px solid rgb(58, 58, 58);
    margin-bottom: 15px;
    padding-left: 20px;
}

.undercard .undercard-description .brief h4 {
    margin-bottom: 5px;
}

.undercard .undercard-description .brief p {
    color: rgb(173 172 172);
}

/* .expert, .flexible{
    margin-left: 15px;
} */
/*End of Why Choose Us Styling*/

/*Start of Testmonials Styling*/

.testmonials {
    /* margin-top: 50px; */
    background-color: rgb(248 248 248);
    padding: 100px;
    margin-bottom: 50px;
}


.testmonials h2 {
    font-size: 40px;
    margin-bottom: 20px;
}


.holder {
    margin: 50px auto;
    width: 80%;

}

.david,
.mike,
.james {
    width: 400px;
    padding: 25px;
    margin-left: 35px;
    /* height: 400px; */
    border-radius: 15px;

}

.testmonials h2,
.testmonials>p {
    text-align: center;
}

.picture {
    max-width: 30%;
}

.caption {
    margin-top: -5px;
}

.highlight-moove {
    background-color: rgb(238, 238, 255);
}

.highlight-green {
    background-color: rgb(238, 255, 243);
}

.highlight-blue {
    background-color: rgb(232, 241, 254);
}


.statistics {
    width: 75%;
    padding: 50px;
    background-color: rgb(242 242 242);
    border-radius: 20px;
    margin-left: 200px;
}

.portion {
    text-align: center;
    width: 23%;
    margin-left: 15px;
}

.number {
    font-size: 40px;
    font-weight: bold;
}

.text {
    color: #878787;
}

/*End of Testmonials Styling*/

/*Start of Form Styling*/

.info {
    margin-top: 30px;
}

.info-header {
    font-size: 35px;
    margin-bottom: 20px;

}

.info-paragraph {
    font-size: 20px;
}

.info form {
    width: 50%;
    padding: 50px;
    background-color: rgb(250 250 250);
    border-radius: 20px;
    margin: 50px auto;

}

.first-name,
.mail,
.phone,
.member,
textarea {
    margin-bottom: 20px;
}

.first-name,
.last-name {
    width: 50%;
}



form input,
form select,
form textarea,
form .send button {
    height: 55px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
    border: 2px solid rgb(193, 193, 193);
    border-radius: 10px;
}

form textarea {
    resize: none;
    padding: 20px;
    height: 80px;
}

form label {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}


form .send button {
    background-color: black;
    color: white;
    font-size: 20px;
}

.form-footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    color: #b1b1b1;
}

/*End of Form Styling*/

/*Start of Site Footer Styling*/
.site-footer {
    background-color: oklch(21% .034 264.665);
    padding: 50px;
}

.sections {
    width: 70%;
    margin: auto;
    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
    padding-bottom: 50px;
}

.fit_core,
.quick_links,
.contact_info {
    float: left;
}


.fit_core {
    width: 45%;
    margin-left: 50px;
}

.core_header {
    font-size: 25px;
    color: white;
}

.normal,
.subtitle {
    color: white;
}

.core_paragraph,
.sub_paragraph,
.copyrights {
    color: oklch(70.7% .022 261.325);
}

.core_links li {
    list-style: none;
    float: left;
    margin: 15px;
}

.core_links li a,
.quick_links ul li a,
.policies {
    text-decoration: none;
    color: oklch(70.7% .022 261.325);
}

.quick_links {
    margin-left: 30px;
}

.quick_links ul li {
    list-style: none;
    margin: 10px;
}

.contact_info {
    margin-left: 100px;
}

.sub_paragraph {
    margin-bottom: 10px;
}

.underfooter {
    margin: 10px auto;
    width: 70%;
    padding-bottom: 50px;
    overflow: hidden;
}

.copyrights {
    margin-top: 30px;
    /* margin-left: 300px; */
    width: 400px;
}

.copy_rights_links {
    width: 500px;
    margin-top: 18px;
    margin-right: -100px;
}

.policies {
    margin: 10px;
}

.copyrights,
.policies {
    font-size: smaller;
}

/*End of Site Footer Styling*/


/*End of Container Styling*/